@keyframes anim {
    to {
        margin-top: -100px;
    }
}

@keyframes anim2 {
    to {
        transform: translateY(-100%);
    }
}

.animate-element {
    animation: anim2 1.5s cubic-bezier(0.19, 1, 0.22, 1) 7s both;
}

.animate-element1 {
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 1.5s both;
}

.animate-element2 {
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}

.animate-element3 {
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 4.5s both;
}

@keyframes circleBounce {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }

  .animate-ball{
    animation: circleBounce .5s alternate infinite ease;
  }

  .animate-shadow{
    animation: shadowBounce .5s alternate infinite ease;
  }

  @keyframes shadowBounce {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  